html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 0px;
  background-color: #e6e6e6;
  margin-top: 120px;
  text-align: center;
  z-index: 1;
  
}
p{
  font-family: sans-serif;
  color: #202122;
  line-height: 1.6;
}
.testo{
  padding-left: 5px;
}

/*PARTE PER TABELLE*/
table{
  table-layout : fixed;
 width: 100%;
 border-collapse: collapse;
}
.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  
}
.divtable{
  width:80%; 
  height:auto;
  padding-left: 10px;
}
.table thead th{
  border: 1px solid black;
  border-bottom: 1px solid black;
}

table tr{
  border: 1px solid black;
}
.allineo{
  text-align: left;
}
.w-35{
  width: 35%;
}

.w-60{
  width: 60%;
}

table td {
  overflow-wrap: break-word;
  height: fit-content;
  overflow: auto;
  text-overflow: inherit;
  border: 1px solid black;
  white-space: pre-line;
  
}
table th {
  overflow-wrap: break-word;
  border: 1px solid black;
  border-bottom: 1px solid black;
}
.wrapper {
  position: relative;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
}
/* QUA COMINCIA LA RESPONSIVE TABLE */
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
  .divtable{
    padding-top: 100px;
  }

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
}
/*E QUA FINISCE RESPONSIVE TABLE*/
/*FINE PARTE PER TABELLE*/
@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
.align-text-top {
  padding-top: 30px;
}
}
.langImg {
  position: inherit;
  left: 0;
  top: 0;
  width: 50%;
  height: 50%;
}
#myImg{
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  height: 220px;
}
@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
  #futaba {
    margin-top: 15%;
  }
}
.myCode {
  display: none;
}


.myButton {
  margin-top: 8%;
  margin-bottom: 8%;
  color: rgb(235, 235, 235);
  background-color: rgb(190, 0, 19);
  border-color: rgb(133, 1, 14);
}
.myButton:hover {
  color: rgb(235, 235, 235);
  background-color: rgb(207, 0, 21);
  border-color: rgb(167, 0, 17);
}
.myButton:focus, .myButton.focus {
  color: rgb(235, 235, 235);
  background-color: rgb(219, 35, 53);
  border-color: rgb(167, 0, 17);
  box-shadow: 0 0 0 0.2rem rgba(134, 21, 33, 0.5);
}

h3 {
  position: absolute;
  display: block;
  text-align: center;
  margin-top: 5rem;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input {
  margin-top: 5px;
  margin-bottom: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

i{
  color: rgb(160, 0, 0);
}

.myAnchor {
  color: rgb(160, 0, 0);
}
.myAnchor:hover {
  color: rgb(220, 40, 40);
  text-decoration: none;
}

.nav-bar {
  overflow: hidden;
  background-color: rgb(80, 80, 80);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}
.nav-bar a {
  float: left;
  display: block;
  color: rgba(255, 255, 255, 0.815);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.nav-bar a:hover {
  background: rgb(163, 163, 163);
  color: black;
  text-decoration: none;
}
.nav-bar #logDiv {
  float: right;
  display: block;
  color: rgba(255, 255, 255, 0.815);
  text-align: right;
  padding-right: 0.9%;
  padding-top: 0.9%;
  text-decoration: none;
}

/*PARTE DROPDOWN CHE SI PUò SCARTARE*/
.dropdown {
  float: left;
  overflow: visible;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: rgba(255, 255, 255, 0.815);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

.dropdown:hover .dropbtn {
  background: rgb(163, 163, 163);
  color: black;
  text-decoration: none;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: relative;
  background-color: rgb(80, 80, 80);
  color: rgba(255, 255, 255, 0.815);
  text-decoration: none;
  min-width: min-content;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: inherit;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background: rgb(163, 163, 163);
  color: black;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
/*FINE DROPDOWN*/
.nav-bar a[href="signout.php"] {
  float: right;
}
.nav-bar a[href="login.php"] {
  float: right;
}
.nav-bar a[href="signin.php"] {
  float: right;
}

#mySelect {
  max-width: 35%;
  margin-bottom: 10px;
}
.bottombar {
  overflow: visible;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 0.815);
  background-color: rgb(80, 80, 80);
  position: relative;
  bottom: 0px;
  width: 100%;
  margin-top: auto;
  margin-bottom: 0px;
  text-align: left;
  z-index: 1;
}
/*
.bottombar a {
  float: left;
  display: block;
  color: rgb(56, 56, 56);
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
}*/